<div id='display'>
    Thank you very much for the sponsoring the gift <br /><br />

    We will send you an email with the order confirmation within 24/48 hrs<br /><br />

    <%= link_to 'back to home', posts_path %>
</div>